In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset.csv')
train = pd.read_csv('train_v3_pairs.csv')

In [3]:
df

,variantid,color_parsed_azure,color_parsed_linen,color_parsed_navy,color_parsed_ultramarine,color_parsed_аква,color_parsed_алый,color_parsed_аметистовый,color_parsed_баклажановый,color_parsed_бежевый,...,name54,name55,name56,name57,name58,name59,name60,name61,name62,name63
0,51201254,0,0,0,0,0,0,0,0,0,...,0.664108,-0.574598,0.600471,0.282559,-0.353950,-0.487563,-0.305480,0.822294,0.498948,-0.423252
1,77151532,0,0,0,0,0,0,0,0,0,...,0.565089,-0.507759,0.581456,0.600464,-0.361785,-0.302219,-0.295507,0.600486,0.438907,-0.334542
2,89664856,0,0,0,0,0,0,0,0,0,...,0.473289,-0.531632,0.580387,0.617983,-0.303945,-0.309598,-0.555793,0.412506,0.402390,-0.599106
3,90701982,0,0,0,0,0,0,0,0,0,...,0.659897,-0.686549,0.412938,0.620811,-0.385053,-0.432753,-0.721323,0.282371,0.165988,-0.666544
4,92484118,0,0,0,0,0,0,0,0,0,...,0.370155,-0.775124,0.184146,0.479758,-0.678021,-0.562949,-0.390567,0.445924,0.333753,-0.646040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489767,820128810,0,0,0,0,0,0,0,0,0,...,0.432171,-0.558630,0.696943,0.368960,-0.667523,-0.551441,-0.622927,0.561943,0.637793,-0.518909
489768,821135769,0,0,0,0,0,0,0,0,0,...,0.751285,-0.704329,0.639677,0.482387,-0.545244,-0.240605,-0.371636,0.447145,0.263402,-0.480536
489769,822095690,0,0,0,0,0,0,0,0,0,...,0.610222,-0.718964,0.631636,0.423931,-0.521233,-0.635647,-0.555723,0.474988,0.650914,-0.566666
489770,822101044,0,0,0,0,0,0,0,0,0,...,0.655098,-0.659017,0.609200,0.313309,-0.472025,-0.560577,-0.399423,0.549151,0.723111,-0.599759
489771,822394794,0,0,0,0,0,0,0,0,0,...,0.657339,-0.614005,0.364382,0.527695,-0.286060,-0.438793,-0.537438,0.517604,0.490955,-0.412027

In [4]:
train

        target  variantid1  variantid2
0          1.0    53062686   536165289
1          1.0    53602615   587809782
2          1.0    53888651    89598677
3          1.0    62485795    62487150
4          1.0    64634116   539055461
...        ...         ...         ...
728169     0.0   817327230   822083612
728170     0.0   817560551   818069912
728171     0.0   817854719   817857267
728172     0.0   820036017   820037019
728173     0.0   821514120   821514311

[728174 rows x 3 columns]

In [5]:
features = (
    train
    .merge(
        df
        .add_suffix('1'),
        on="variantid1"
    )
    .merge(
        df
        .add_suffix('2'),
        on="variantid2"
    )
)

In [6]:
features.to_csv('train_v3.csv', index=False)